[Unit]
Description=Email synchronization service

[Service]
Type=oneshot
Environment="GNUPGHOME=/home/oniani/.local/share/gnupg"
Environment="NOTMUCH_CONFIG=/home/oniani/.config/notmuch/config"
Environment="PASSWORD_STORE_DIR=/home/oniani/.local/share/pass"
ExecStart=/home/oniani/.local/bin/emailsync

[Install]
WantedBy=default.target
