[Unit]
Description=Email synchronization service

[Service]
Type=oneshot
ExecStart=mbsync -Va -c /home/oniani/.config/isync/mbsyncrc
ExecStartPost=notmuch new

[Install]
WantedBy=default.target
