* {
    background-color: ghostwhite;
    border-radius: 2rem;
    font-family: Jetbrains Mono NF;
    font-size: 1.5rem;
    margin: 0;
}

#workspaces button.active * {
    border-radius: 0;
    color: royalblue;
    font-size: 2rem;
}
