#waybar {
    background-color: black;
    border-radius: 0.5rem;
    border: 0.125rem solid #8ba8f0;
    color: white;
    font-family: JetBrains Mono;
    font-size: 2rem;
}

#workspaces button {
    background: none;
    border: none;
    font-size: 2.56rem;
    margin: 0 1rem;
}

#workspaces button:hover {
    box-shadow: none;
    color: #8ba8f0;
    text-shadow: none;
}

#workspaces button.active {
    color: #8ba8f0;
}

#custom-logo, #clock, #tray, #memory, #pulseaudio, #temperature, #battery {
    margin: 0 1rem;
}
