window#waybar {
    background-color: black;
    border-radius: 2rem;
    border: 2px solid #8ba8f0;
    color: white;
    font-family: Liga ComicMono Nerd Font;
    font-size: 1.5rem;
}

#workspaces button {
    background: none;
    border: none;
    color: white;
    font-size: 2rem;
}

#workspaces button:hover {
    box-shadow: none;
    color: #8ba8f0;
    text-shadow: none;
}

#workspaces button.active {
    color: #8ba8f0;
}
