configuration {
    display-drun: "> ";
    display-run: "> ";
    display-window: "> ";
    font: "JetBrains Mono 25";
    lines: 10;
    show-icons: true;
    theme: "gruvbox-dark-hard";
    width: 1500;
}
