(
    line_break: Some(""),

    cmdbar_bg: Some("Reset"),
    cmdbar_extra_lines_bg: Some("Reset"),
    commit_author: Some("Blue"),
    commit_hash: Some("Red"),
    commit_time: Some("Green"),
    diff_file_added: Some("#a6e3a1"),
    diff_file_modified: Some("#fab387"),
    diff_file_moved: Some("#cba6f7"),
    diff_file_removed: Some("#eba0ac"),
    diff_line_add: Some("#a6e3a1"),
    diff_line_delete: Some("#f38ba8"),
    push_gauge_bg: Some("Reset"),
    selected_tab: Some("#8ba8f0"),
    selection_bg: Some("#8ba8f0"),
    selection_fg: Some("#000000"),
    tag_fg: Some("Reset"),
)
