[Desktop Entry]
Version=1.0
Type=Application
Name=kitty
GenericName=Terminal Emulator
Comment=Fast, feature-rich, GPU based terminal
Exec=/home/david/.local/kitty/bin/kitty
Icon=/home/david/.local/share/applications/kitty.png
Categories=System;TerminalEmulator;
