[Desktop Entry]
Version=1.0
Type=Application
Name=kitty
GenericName=Terminal Emulator
Comment=Fast, feature-rich, GPU based terminal
Exec=/usr/bin/kitty
Icon=/home/oniani/.local/share/applications/kitty.png
Categories=System;TerminalEmulator;
